{% extends('index.html.twig') %}

{% block body %}
    <script src="//cdn.datatables.net/plug-ins/1.10.19/sorting/date-euro.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.2.5/js/dataTables.rowReorder.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://www.bubt.edu.bd/assets/backend/DataTables-1.10.13/DataTables-1.10.13/extensions/Buttons/js/dataTables.buttons.js"></script>

    <script>
        function format ( d ) {
            return '<div class="table-data-hide">'+ d.data + '</div>';
        }

        $(document).ready(function() {
            var table = $('#table-one').DataTable({
                'processing': true,
                "ajax": {
                    "url": "/analytics/data",
                    dataSrc: ""
                },
                deferRender: true,
                rowId: 'extn',
                select: true,
                dom: 'Blfrtip',
                'language': {
                    'url': '//cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json',
                },
                'columnDefs': [
                    {
                        'type': 'date-euro',
                        'targets': 0,

                    },
                ],
                buttons: [
                    {
                        text: 'Обновить данные',
                        action: function () {
                            table.ajax.reload();
                        }
                    }
                ],
                "order": [[ 0, "desc" ]],
                "lengthMenu": [[10, 50, 100, 500, 1000, -1], [10, 50, 100, 500, 1000, "Все"]],
                "pageLength": 50,
                // "initComplete": function(settings, json) {
                // }
                columns: [
                    { data: "date", "className": "table-date" },
                    { data: "user.full_name", "className": "table-user" },
                    { data: "type", "className": "table-type" },
                    { data: "channel", "className": "table-channel" },
                    { data: "text", "className": "table-text" },
                    { data: "data", "className": "table-data", "visible": false },
                ],
                responsive: true
            });


            $('#table-one tbody').on( 'click', 'tr', function (e) {

                try {
                    var tr = $(this).closest('tr');
                    var row = table.row(tr);

                    if ( row.child.isShown() ) {
                        row.child.hide();
                    }
                    else {
                        row.child(format(row.data())).show();
                    }

                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');
                    }
                    else {
                        table.row(table.$('tr.selected')).child.hide();

                        table.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                    }

                } catch {

                }

            } );
        });
    </script>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

        td {
            word-break: break-word;
            font-size: 11px;
            font-family: 'Source Code Pro', monospace;
        }

        table#table-one {
            width: 100%;
            font-size: 14px;
            font-family: 'Source Code Pro', monospace;
        }

        .table-date {
            width: 20%;
        }

        .table-text {
            width: 50%;
        }

        .table-wrapper {

        }

        table.dataTable tbody tr.selected {
            background-color: #f1f1f1;
        }

        table.dataTable tbody tr:hover {
            cursor: pointer;
        }

        .table-data-hide {
            cursor: default;
        }

        .dt-buttons {
            margin-bottom: 20px;
        }

    </style>

    <div class="table-wrapper">
        <table id="table-one" class="table table-bordered">
            <thead>
            <tr>
                <th>Дата</th>
                <th>Пользователь</th>
                <th>Тип</th>
                <th>Канал</th>
                <th>Текст</th>
                <th>Данные</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Дата</th>
                <th>Пользователь</th>
                <th>Тип</th>
                <th>Канал</th>
                <th>Текст</th>
                <th>Данные</th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}