{% trans_default_domain 'menu' %}

<div class="top-menu">
    <div class="top-menu-left">
        <a href="{{ path('index') }}">{{ 'top_menu.items.index'|trans }}</a>
        <a href=""></a>
    </div>
    <div class="top-menu-right">
    </div>
    <div class="clear-both"></div>
</div>