{% extends('index.html.twig') %}

{% block body %}
    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endif %}

    {% block fos_user_content %}{% endblock %}
    
{% endblock body %}
