<html>
<div class="email-container" style="
/*email-container*/
margin: 0 auto;
height: auto;
display: block;
overflow: visible;
max-width: 600px;
">
    <table border="0" cellspacing="0" cellpadding="0" align="center" style="
    background: url({{ absolute_url(asset('templates/email/img/intaro_bg.png')) }}) no-repeat left top;
    overflow: visible;
    border: 1px solid #b8b8b8;
    ">
        <tbody>
            <tr>
                <td>
                    <table align="center" style="
                    overflow: visible;
                    ">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="email-table-body" style="
                                    /*email-table-body*/
                                    border-spacing: 15px;
                                    ">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div style="
                                                    display: block;
                                                    ">
                                                        <img src="{{ absolute_url(asset('templates/email/img/intaro_logo.png')) }}" alt="intaro.ru" style="
                                                        /*intaro-logo*/
                                                        width: 100%;
                                                        max-width: 550px;
                                                        /*float: left;*/
                                                        ">
                                                    </div>

                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <div style="
                                                    /*email-text-body*/
                                                    border: 1px solid #949494ad;
                                                    background: #ffffffbd center center;
                                                    /*background-color: #ffffff91;*/
                                                    /*background-position: center center;*/
                                                    margin: 0;
                                                    padding: 0;
                                                    ">
                                                        <p style="
                                                        /*email-text*/
                                                        /*color: #000000;*/
                                                        line-height: 1.4;
                                                        border-color: transparent;
                                                        margin: 0;
                                                        padding: 8px;
                                                        font-size: 16px;
                                                        word-break: break-word;
                                                        color: #464646;
                                                        ">
                                                            <span>{{ text|raw }}</span>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</html>