<html>
<div class="email-container" style="
/*email-container*/
margin: 0 auto;
height: auto;
display: block;
overflow: visible;
min-width: 699px;
">
    <table border="0" cellspacing="0" cellpadding="0" align="center" style="
    background: url({{ absolute_url(asset('templates/email/img/intaro_bg.png')) }}) no-repeat left top;
    overflow: visible;
    border: 1px solid #b8b8b8;
    ">
        <tbody>
            <tr>
                <td>
                    <table align="center" style="
                    overflow: visible;
                    ">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="email-table-body" style="
                                    /*email-table-body*/
                                    border-spacing: 9px;
                                    ">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div style="
                                                    display: block;
                                                    ">
                                                        <img src="{{ absolute_url(asset('templates/email/img/intaro_logo.png')) }}" alt="intaro.ru" style="
                                                        /*intaro-logo*/
                                                        width: 100%;
                                                        max-width: 550px;
                                                        /*float: left;*/
                                                        ">
                                                    </div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div style="
                                                    /*email-title*/
                                                    /*color: #000000;*/
                                                    color: #464646;
                                                    line-height: 1.3;
                                                    border-color: transparent;
                                                    margin: 0;
                                                    padding: 8px;
                                                    font-size: 20px;
                                                    font-weight: bold;
                                                    ">
                                                        {% set state = state|trim %}
                                                        <span>Событие</span>
                                                        {% if state == 'Событие создано' %}
                                                            <span style="color:#22902c">создано</span>
                                                        {% elseif state == 'Событие изменено' %}
                                                            <span style="color:#efa74c">изменено</span>
                                                        {% elseif state == 'Событие удалено' %}
                                                            <span style="color:#bd0c12">удалено</span>
                                                        {% elseif state == 'Событие скоро начнется' %}
                                                            <span style="color:#007fe0">скоро начнется</span>
                                                        {% endif %}
                                                    </div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div style="
                                                    /*email-text-body*/
                                                    border: 1px solid #949494ad;
                                                    background: #ffffffbd center center;
                                                    /*background-color: #ffffff91;*/
                                                    /*background-position: center center;*/
                                                    margin: 0;
                                                    padding: 0;
                                                    border-radius: 5px;
                                                    ">
                                                        <p style="
                                                        /*email-text*/
                                                        /*color: #000000;*/
                                                        line-height: 1.4;
                                                        border-color: transparent;
                                                        margin: 0;
                                                        padding: 8px;
                                                        font-size: 16px;
                                                        word-break: break-word;
                                                        color: #464646;
                                                        ">
                                                            <span>{{ text|raw }}</span>
                                                        </p>
                                                    </div>

                                                    <div style="
                                                    margin-top: 10px;
                                                    text-align: center;
                                                    font-size: 13px;
                                                    color: #464646;
                                                    ">
                                                        Зарегистрируйтесь у нашего бота и получайте уведомления в Telegram!
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</html>